<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Coach</title>
  <link rel="stylesheet" href="/index/style.css" />
  <link rel="icon" type="image/png" href="/logo.png">
</head>
<body>
    <div class="loader" id="spinningloader"></div>
    <div class="grille">

      <div class="HautGauche cellule" ></div>

      <div class="HautMid cellule">     </div>

      <div class="ContainerUser cellule">
        <div class="UserConnecte"></div> <a href="/logout">Déconnexion</a> 
      </div>

      <div class="classement cellule"></div>

      <div class="MainContainer cellule">
         
        <div class="Accueil">
          <button id="createBtn">Créer une partie</button>  
          <input id="gameIdInput" placeholder="ID de la partie à rejoindre" />
          <button id="joinBtn">Rejoindre une partie</button>
          <p id="status"></p>
        </div>
        
      </div>

      <div class="ListeJoueursCo cellule">
        <span class="Titre">Joueurs connectés</span>
        <ul id="joueursconnectes"></ul>
        <div class="NotifInvite"></div>
      </div>


    </div>


  

<!-- =======================PFC======================= -->

  <div class="PFC_Container">

    
    <div class="BarreTpsCards" id="BarreTpsCards"></div>
    <div class="Cards_Container">
      <div class="Card_Pierre Card" id="Card-Pierre">Pierre</div>
      <div class="Card_Feuille Card" id="Card-Feuille">Feuille</div>
      <div class="Card_Ciseaux Card" id="Card-Ciseaux">Ciseaux</div>
      <div class="Card_Ennemi"></div>
    </div>
    <div class="gagnantPFC"></div>
  </div>

<!-- =======================PFC======================= -->
  <script>
    const username = "<%= username %>";
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/index/script.js"></script>
  <script src="/index/PFCclient.js"></script>
</body>
</html>
