<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Coach</title>
  <link rel="stylesheet" href="/index/style.css" />
  <link rel="icon" type="image/png" href="/logo.png">
</head>
<body>
    <div class="loader" id="spinningloader"></div>

    <div class="grille">

      <div class="HautGauche cellule" ></div>

      <div class="HautMid cellule">     </div>

      <div class="ContainerUser cellule">
        <div class="UserConnecte"></div> 
      </div>

      <div class="classementContainer cellule">
        <span class="Titre">Classement</span>
        <table class="classement">
          <thead>
            <tr>
              <th>Joueur</th>
              <th>LP</th>
              <th>Winrate</th>
            </tr>
          </thead>
          <tbody id="classement-body">
            <!-- Lignes ajoutées dynamiquement ici -->
          </tbody>
        </table>
      </div>

      <div class="MainContainer cellule">
        <button class="QuitterPartie" id="EndTheGame">Quitter</button>
        <div class="Accueil">
          <span class="Titre">En attente d'une partie</span>
        </div>
        
      </div>

      <div class="ListeJoueursCo cellule">
        <span class="Titre">Joueurs connectés</span>
        <ul id="joueursconnectes"></ul>
        <div class="NotifInvite"></div>
      </div>


    </div>


  

<!-- =======================PFC======================= -->

  <div class="PFC_Container">

    
    <div class="BarreTpsCards" id="BarreTpsCards"></div>
    <div class="Cards_Container">
      <div class="Card_Pierre Card" id="Card-Pierre"><span class="Card_Span">Pierre</span> <div class="Pierre"></div> </div>
      <div class="Card_Feuille Card" id="Card-Feuille"><span class="Card_Span">Feuille</span> <div class="Feuille"></div> </div>
      <div class="Card_Ciseaux Card" id="Card-Ciseaux"><span class="Card_Span">Ciseaux</span> <div class="Ciseaux"></div> </div>
      <div class="Card_Ennemi"></div>
    </div>
    <div class="gagnantPFC"></div>
  </div>

<!-- =======================PFC======================= -->

<!-- =======================Profil======================= -->

  <div class="ProfilContainer">

    <div class="close-cross" onclick="document.querySelector('.ProfilContainer').style.display = 'none'"></div>
    <a class= "disconnect" href="/logout">Déconnexion</a> 

    <div class="ProfilColumn Modifiable">
      <h2>Éditer le profil</h2>

      <label>Icône :</label>
      <img id="iconPreview" src="/logo.png" alt="Icône du joueur" style="width: 100px; height: 100px; cursor: pointer; border-radius: 10px;" />
      <input type="file" id="iconUpload" accept="image/*" style="display: none;" />
      <input type="hidden" id="icon" />


      <label for="username">Nom d’utilisateur :</label>
      <input type="text" id="username" maxlength="25"/>
  
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" />
  
      <label for="team">Équipe :</label>
      <input type="text" id="team" maxlength="25" />
  
      <label for="trigramme">Acronyme :</label>
      <input type="text" id="trigramme" maxlength="4"/>
  
      <button id="saveChanges">Enregistrer</button>
    </div>
  
    <div class="ProfilColumn Infos">
      <h2>Statistiques</h2>
  
      <p><strong>Points de Ligue :</strong> <span id="lp"></span></p>
      <p><strong>Winrate :</strong> <span id="winrate"></span></p>
      <p><strong>Parties jouées :</strong> <span id="gamesplayed"></span></p>
      <p><strong>Victoires :</strong> <span id="wins"></span></p>
      <p><strong>Défaites :</strong> <span id="losses"></span></p>
    </div>


  </div>

<!-- =======================Profil======================= -->

  <script>
    var username = "<%= username %>";
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="/index/script.js"></script>
  <script src="/index/profil.js"></script>
  
</body>
</html>
