<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Coach</title>
  <link rel="stylesheet" href="/index/style.css" />
  <link rel="icon" type="image/png" href="/logo.png">
</head>
<body>
    <div class="loader" id="spinningloader"></div>
    <h1>Bienvenue, <%= username %></h1>
    <a href="/logout">Déconnexion</a>
      <div>
    <button id="createBtn">Créer une partie</button>
  </div>

  <div>
    <input id="gameIdInput" placeholder="ID de la partie à rejoindre" />
    <button id="joinBtn">Rejoindre une partie</button>
  </div>

  <p id="status"></p>
  <ul id="joueursconnectes"></ul>

<!-- =======================PFC======================= -->

  <div class="PFC_Container">

    
    <div class="BarreTpsCards" id="BarreTpsCards"></div>
    <div class="Cards_Container">
      <div class="Card_Pierre Card" id="Card-Pierre">Pierre</div>
      <div class="Card_Feuille Card" id="Card-Feuille">Feuille</div>
      <div class="Card_Ciseaux Card" id="Card-Ciseaux">Ciseaux</div>
    </div>
  </div>

<!-- =======================PFC======================= -->
  <script>
    const username = "<%= username %>";
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/index/script.js"></script>
  <script src="/index/PFCclient.js"></script>
</body>
</html>
