<!DOCTYPE html>
<html>
<head>
  <title>Connexion</title>
  <link rel="stylesheet" href="/login/style.css" />
</head>
<body>  
  <img src="/logo.png">
  <div class="container">
    <h1>Connexion</h1>
    <% if (error) { %><p style="color: rgb(168, 3, 3);"><%= error %></p><% } %>
    <form method="POST" action="/login" class="form1">
      <input type="text" name="username" placeholder="Nom d’utilisateur" required>
      <input type="password" name="password" placeholder="Mot de passe" required>
      <button type="submit" class="boutonglow">Se connecter</button>
    </form>
    <a href="/register" class="ChangerPage">Créer un compte</a>

    <script>
    </script> 
  </div> 
</body>
</html>
