:root{
  --textJaune : rgb(240, 220, 180);
  --JauneFonce : rgba(218, 165, 32, 0.42);
  --VioletFonce : #050010;
  --textJauneFonce : rgb(200, 155, 60);
  
}
@font-face {
  font-family: "Lol";
  src: url('/ressources/fonts/BeaufortforLOL-Regular.otf');}
@font-face {
  font-family: "Lolb";
  src: url('/ressources/fonts/BeaufortforLOL-Bold.otf');}
@font-face {
  font-family: "Loln";
  src: url('/ressources/fonts/Spiegel-Regular.otf');}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: url('../index/bg1.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #e0e0e0;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size:16px;
  font-family: "Lol";
}

@-webkit-keyframes Animation {
    0%{background-position:0% 0%}
    99.99%{background-position:60% 60%}
    100%{background-position:0% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:0% 0%}
    99.99%{background-position:60% 60%}
    100%{background-position:0% 0%}
}
@keyframes Animation { 
    0%{background-position:0% 0%}
    99.999999%{background-position:60% 60%}
    100%{background-position:0% 0%}
}
.boutonglow{
  background: linear-gradient(130deg, #003b6bb9, #0337a77a, #003b6bb9,#0337a77a, #003b6bb9,#0337a77a);
    background-size: 300% 300%;
    -webkit-animation: Animation 2s  infinite linear;
    -moz-animation: Animation 2s  infinite linear;
    animation: Animation 2s  infinite linear;
}
.boutonglow:hover{
  background: linear-gradient(130deg, #1973bd, #234da8, #1973bd,#234da8, #1973bd,#234da8);
  background-size: 300% 300%;
    -webkit-animation: Animation 1s  infinite linear;
    -moz-animation: Animation 1s  infinite linear;
    animation: Animation 1s  infinite linear;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  width: 450px;
  height: 420px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border : 1px rgb(145, 145, 145) solid;
  box-shadow: black 1px 1px 10px 1px;
  overflow: visible;
}

.form{
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #e0e0e011;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

button{
  padding: 0 20px;
  border-radius: 20px;
  height: 40px;
  font-size: 1.5em;
  color:var(--textJaune);
  border:var(--JauneFonce) 1px solid;
  transition : all ease 0.2s;

}
button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 5px var(--textJaune);
}
.form1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 70%;
}
h1{
  margin: 0;
  font-size: 3em;
  color: var(--textJauneFonce);
  text-shadow: rgb(70, 69, 65) 1px 0 10px;
}
input{
  border:1px rgb(255, 255, 255) solid;
  height: 35px;
  width: 100%;
  font-size: 1.5em;
  padding: 2px 8px;
}
input:focus{
  border : rgb(51, 7, 92) 1px solid;
  outline:none;
}
.ChangerPage{
  color:var(--textJaune);
}
img{
  position: absolute;
  transform: translateY(-550px);
  scale: 0.5;
  z-index: 99;
}